<footer class="center" style="margin-bottom: 10px;">
  <div class="wrapper">
    <div class="col three caption">
      <div class="center">
        <span id="random-quote" style="display: inline-block; text-align: left; line-height: 125%;"></span>
      </div>
      <script type="text/javascript">
      (function() {
        // Pick a random quote and go have fun!
        var quotes = {{ site.data.favorite_quotes.quotes | jsonify }};
        var randomIndex = Math.floor(Math.random() * quotes.length);
        var quotePair = quotes[randomIndex];
        var $quoteContainer = document.getElementById('random-quote');
        $quoteContainer.innerHTML = "\"" + quotePair.quote + "\"" + " – " + quotePair.author;
      })();
      </script>
  	</div>
</footer>
