<header class="site-header">
  <div class="wrapper">
    <div class="left" style="float: left;" >
      <img src="/img/logo/mr_logo_114x114.png"
        style="
          width: 48px;
          margin: 4px;
          background: white;"/>
      <div class="header-title">
          Michael L. Rivera
      </div>
    </div>
    <nav class="site-nav">
      <div class="trigger">
        <!-- {{ site.title }} instead of blog -->
        <a class="page-link" href="{{ site.baseurl }}/">{{site.index_title}}</a>

        {% for page in site.pages %}
          {% if page.title and page.includedInNav == true %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}



        <!-- Add Music -->
          <a class="page-link" href="{{ site.baseurl | append: '/music/'}}">music</a>

        <!-- Add CV -->
          <a class="page-link" href="{{ site.baseurl | append: site.path_to_cv }}" target='_blank'>cv</a>
        </div>
    </nav>

  </div>

</header>
