<header class="site-header">
  <div class="wrapper">
    <div class="left" style="float: left;" >
      <div>
        <img src="/img/logo/mr_logo_114x114.png"
          style="
            width: 48px;
            margin: 4px;
            background: white;"/>
        <div style="
            float: right;
            margin-left: 4px;
            padding: 2px;
            line-height: 56px;">
            Michael L. Rivera
        </div>
      </div>
    </div>
    <nav class="site-nav">
      <div class="trigger">
        <!-- {{ site.title }} instead of blog -->
        <a class="page-link" href="{{ site.baseurl }}/">{{site.index_title}}</a>

        {% for page in site.pages %}
          {% if page.title and page.hidden == null or page.hidden == false %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
        <!-- Add Music last -->
          <a class="page-link" href="{{ site.baseurl }}/music">music</a>

      </div>
    </nav>

  </div>

</header>
