---
layout: page
title: latest
---

<ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p class="post-meta">{{ post.date | date: '%B %-d, %Y — %H:%M' }}</p>
        <p>{{ post.description }}</p>
        <br/>
        <hr/>
      </li>
    {% endfor %}
</ul>


<div class="post-list">
  <h2>updates</h2>
  <table class="microupdates">
    {% assign updates = site.data.microupdates.updates | sort: 'date' %}
    {% for update in updates reversed limit: 5 %}
      <tr class="post-meta">
        <td class="data"> {{ update.date | date: '%b %-d, %Y' }} </td>
        <td> {{ update.text }} </td>
    {% endfor %}
  </table>
</div>

<hr class="hr-partial-sep" style="margin-bottom:10px;">
