<header>
<h3 class="post-title mb-10">music & programming</h3>
<p class="post-description">
  A running list of my projects that blend sound and software. 
</p>
</header>
<ul class="post-list">
 {% assign musicProjects = site.music | sort: 'date' | reverse %}
{% for item in musicProjects %}
  {% if item.published %}
      <li class="col three" style="padding-left: 0px; padding-right: 0px; margin-bottom:0px;">
        {% if hasPreviousProject %}
        <div class="col clearfix three" style="margin-bottom: 5px; margin-top:10px;">
          <hr style="width:60%; margin: 0px auto;"/>
        </div>
        {% endif %}
        <div class="research-primary-img-container col right one">
          <a href="{{ item.url }}">
            <img class="three" src="{{site.assetsDir | append: item.url | append: item.teaserImageUrl}}">
          </a>
        </div>
        <div class="col left two" style="padding-left: 0px;">
          <a class="research-title" href="{{ item.url }}">{{ item.title }}</a> - {{item.date | date: '%B %Y' }}
          <p class="research-meta">{{item.shortDescription}} </p>
        </div>

        {% assign hasPreviousProject = true  %}
      </li>
  {% endif %}
{% endfor %}
</ul>
