<header class="site-header">
  <div class="wrapper">
    <div class="left" style="float: left;" >
      <a href="/">
        <img src="{{site.assetsDir | append: '/img/logo/mr_logo_114x114.png'}}"
          style="
            width: 48px;
            margin: 4px;
            background: white;"/>
      </a>
      <div class="header-title">
          <a href="/">Michael L. Rivera</a>
      </div>
    </div>
    <nav class="site-nav">
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title and page.includedInNav == true %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
        <!-- Add Latest -->
          <a class="page-link" href="{{ site.baseurl | append: '/latest/'}}">latest</a>
        <!-- Add Music -->
          <a class="page-link" href="{{ site.baseurl | append: '/music/'}}">music</a>
        <!-- Add CV -->
          <a class="page-link" href="{{ site.baseurl | append: site.path_to_cv }}" target='_blank'>cv</a>
        </div>
    </nav>

  </div>

</header>
