
<div class="img_row">
  <div class="col one">
    <a href="{{site.assetsDir | append: include.pageUrl | append: 'img/high-res/' | append: include.img1}}" target="_blank">
      <img width="100%" src="{{site.assetsDir | append: include.pageUrl | append: 'img/low-res/' | append: include.img1}}" />
    </a>
  </div>
  <div class="col two">
    <a href="{{site.assetsDir | append: include.pageUrl | append: 'img/high-res/' | append: include.img2}}" target="_blank">
      <img width="100%" src="{{site.assetsDir | append: include.pageUrl | append: 'img/low-res/' | append: include.img2}}" />
    </a>
  </div>
</div>
