---
layout: project
published: true
title: "An Audio Augmented Reality Medical Assistant"
authors:
  - Michael L. Rivera
  - Rayna Allonce
  - Ritu Parekh
  - Siyan Zhao
conferenceShortName: Bose Design Challenge 2019
videoUrl: https://www.youtube.com/watch?v=BIqoRmGrnRk
youtubeVideoId: BIqoRmGrnRk
date: 2018-11-24 00:00
teaserImageUrl: img/teaser-01.png
abstract: >
    We demonstrate an augmented reality medical assistant that leverages Audio Fencing to accurately localize medical professionals and relay patients’ information.
    With Bose Wearable technology, our solution enables timely access to key patient information, empowering healthcare providers to better and more securely serve their patients.
awards: [
    {
        title: 'Bose Design Challenge Winner 2019',
        awardType: 'award'
    }
]
authorDescription: <span class="bold">Michael L. Rivera</span>, Rayna Allonce, Ritu Parekh and Siyan Zhao
---

{% include research/abstract.html abstract=page.abstract %}

{% if page.youtubeVideoId %}
  <!--hr class="hr-section-sep" /-->
  {% include media/youtube.html youtubeVideoId=page.youtubeVideoId %}
{% endif %}

<!-- <hr class="hr-section-sep" />

<div class="media-container">
  <h3 class="mb-10"> media and images </h3>
  <div class="media_container">

    {% include img/img_row_one.html
      pageUrl=page.url
      img1="ultrasonic-frequency-demo-01.png" %}

  </div>
</div> -->
