---
layout: project
published: false
title: "Desktop Electrospinning: A Single Extruder 3D Printer for Producing Rigid Plastic and Electrospun Textiles"
authors:
  - Michael L. Rivera
  - Scott E. Hudson
doiUrl: https://doi.org/XXXXXXX
acmUrl: http://dl.acm.org/citation.cfm?id=XXXXXX
pdfUrl: chi19-desktop-electrospinning.pdf
date: 2019-05-13 00:00
conferenceShortName: CHI 2019
conferenceName: ACM SIGCHI
teaserImageUrl: img/teaser_lasercut_pads_01.jpg
abstract: >
    We present a new type of 3D printer that combines rigid plastic printing with melt electrospinning-- a technique that uses electrostatic forces to create thin fibers from a molten polymer. Our printer enables custom-shaped textile sheets (similar in feel to wool felt) to be produced alongside rigid plastic using a single material (\ie  PLA) in a single process. We contribute open-source firmware, hardware specifications, and printing parameters to achieve melt electrospinning. Our approach offers new opportunities for fabricating interactive objects and sensors that blend the flexibility, absorbency and softness of produced electrospun textiles with the structure and rigidity of hard plastic for actuation, sensing, and tactility.

citation: "Michael L. Rivera and Scott E. Hudson. 2019. Desktop Electrospinning: A Single Extruder 3D Printer for Producing Rigid Plastic and Electrospun Textiles. In Proceedings of the 2019 CHI Conference on Human Factors in Computing Systems (CHI '19). ACM, New York, NY, USA, XXX-XXX. DOI: https://doi.org/xxxxxxxxxx"
authorDescription: <span class="bold">Michael L. Rivera</span> and Scott E. Hudson
---

{% include research/abstract.html abstract=page.abstract %}

{% include img/img_row_two.html
  pageUrl=page.url
  img1="lasercut_pads_deconstructed_01a.jpg"
  img2="printed_frame_deconstructed_01a.jpg"  %}

<hr class="hr-section-sep" />

{% include research/citation.html
  pageUrl=page.url
  citation=page.citation
  pdfUrl=page.pdfUrl
  doiUrl=page.doiUrl %}

<hr class="hr-section-sep" />

<div class="media-container">
  <h3 class="mb-10"> media and images </h3>
  <div class="media_container">

    {% include img/img_row_one.html
      pageUrl=page.url
      img1="lasercut_pads_01.jpg" %}

    {% include img/img_row_two.html
      pageUrl=page.url
      img1="lasercut_pads_02.jpg"
      img2="lasercut_pads_03.jpg" %}

    {% include img/img_row_two.html
      pageUrl=page.url
      img1="printed_frame_02.jpg"
      img2="printed_frame_01a.jpg" %}

    {% include img/img_row_one.html
      pageUrl=page.url
      img1="printed_frame_03.jpg"  %}

    {% include img/img_row_two.html
        pageUrl=page.url
        img1="printed_frame_04.jpg"
        img2="printed_frame_snap_fit_01.jpg" %}

  </div><!-- end media container -->
</div>
