---
layout: project
published: true
isPreview: true
title: "Hydrogel-Textile Composites: Actuators for Shape-Changing Interfaces"
authors:
  - Michael L. Rivera
  - Jack Forman
  - Scott E. Hudson
  - Lining Yao
doiUrl: https://doi.org/10.1145/3334480.3382788
acmUrl: https://dl.acm.org/citation.cfm?id=3382788
pdfUrl: chi20-hydrogel-textile-composites.pdf
videoUrl: https://youtu.be/oodDgj04ljU
youtubeVideoId: oodDgj04ljU
date: 2020-04-25 00:00
conferenceShortName: CHI 2020 EA
conferenceName: ACM SIGCHI
teaserImageUrl: img/teaser-hydrogel-textile-sample-actuations-loop-v4a.gif
teaserTwitterCardUrl: img/teaser_lamp_01_card.png
sourceCodeUrl: https://github.com/mriveralee/hydrogel-textile-composite-parts
abstract: >
    The current work examines interactions that are enabled when depositing a human-safe hydrogel onto textile substrates. These hydrogel-textile composites are water-responsive, supporting reversible actuation. To enable these interactions, we describe a fabrication process using a consumer-grade 3D printer. We show how different combinations of printed hydrogel patterns and textiles create a rich actuator design space. Finally, we show an application of this approach and discuss opportunities for future work.

citation: "Michael L. Rivera, Jack Forman, Scott E. Hudson and Lining Yao. 2020. Hydrogel-Textile Composites: Actuators for Shape-Changing Interfaces. In Extended Abstracts of the 2020 CHI Conference on Human Factors in Computing Systems Proceedings (CHI EA '20) Extended Abstracts, April 25–30, 2020, Honolulu, HI, USA. ACM, New York, NY, USA, 9 pages. https://doi.org/10.1145/3334480.3382788"
authorDescription: "<span class='bold'>Michael L. Rivera</span>, Jack Forman, Scott E. Hudson and Lining Yao"

---

{% include research/abstract.html abstract=page.abstract %}


{% if page.youtubeVideoId %}
  <!--hr class="hr-section-sep" /-->
  {% include media/youtube.html youtubeVideoId=page.youtubeVideoId %}
{% endif %}

{% include research/source-code.html sourceCodeUrl=page.sourceCodeUrl %}

<hr class="hr-section-sep" />

{% include research/citation.html
  pageUrl=page.url
  citation=page.citation
  pdfUrl=page.pdfUrl
  doiUrl=page.doiUrl %}

<hr class="hr-section-sep" />

<div class="media-container">
  <h3 class="mb-10"> media and images </h3>
  <div class="media-imgs">


    {% include img/img_row_two.html
        pageUrl=page.url
        img1="arrow_dehydrated_01.png"
        img2="arrow_hydrated_01.png" %}

    {% include img/img_row_one.html
        pageUrl=page.url
        img1="paper_dehydrated_01.png" %}

    {% include img/img_row_two.html
        pageUrl=page.url
        img1="rose_petal_dehydrated_01.png"
        img2="rose_petal_hydrated_01.png" %}


    {% include img/img_row_two.html
        pageUrl=page.url
        img1="hydrogel_printer_01.png"
        img2="textile_type_test_01.png" %}

    {% include img/img_row_one.html
        pageUrl=page.url
        img1="grain_test_01.png" %}

    {% include img/img_row_two.html
        pageUrl=page.url
        img1="pattern_test_01.png"
        img2="shape_test_01.png" %}


    {% include img/img_row_two.html
        pageUrl=page.url
        img1="cotton_twist_dehydrated_01.png"
        img2="cotton_twist_hydrated_01.png" %}

    {% include img/img_row_one.html
        pageUrl=page.url
        img1="cotton_hydrogel_print_01.png" %}

    {% include img/img_row_two.html
        pageUrl=page.url
        img1="cotton_bottle_dehydrated_01.png"
        img2="cotton_bottle_hydrated_01.png" %}



    </div>
</div>

  </div><!-- end media container -->
</div>
