---
layout: project
published: true
isPreview: true
title: "Input, Output and Construction Methods for Custom Fabrication of Room-Scale Deployable Pneumatic Structures"
authors:
  - Saiganesh Swaminathan
  - Michael L. Rivera
  - Runchang Kang
  - Zheng Luo
  - Kadri Bugra Ozutemiz
  - Scott E. Hudson
doiUrl: https://doi.org/XXXXXXX
acmUrl: http://dl.acm.org/citation.cfm?id=XXXXXX
pdfUrl: imwut19-inflatables.pdf
date: 2019-05-01 00:00
conferenceShortName: IMWUT 2019
conferenceName: ACM IMWUT 2019
teaserImageUrl: img/teaser_canopy_light_to_face_01.png
teaserTwitterCardUrl: img/teaser_canopy_light_to_face_01_card.png
abstract: >
  In this paper, we explore the future of designing room-scale deployable structures that can be fabricated with interaction and thus be responsive to human input and environments. We demonstrate three types of sensing methods — acoustic, capacitive and pressure —in order to embed input into our structures. Our sensing methods enable users to perform gestures such as knock, squeeze and swipe with specific parts of our fabricated structure such as doors, windows, etc. and make them interactive. As exemplars, we design a responsive canopy, an interactive geodesic dome and a portable table. All our designs are based on inflatable trusses which are custom fabricated for a particular purpose.  These can be deployed from a compact deflated state to a much larger inflated state which takes on a desired form and provides desired interactivity.


citation: "Saiganesh Swaminathan, Michael L. Rivera, Runchang Kang, Zheng Luo, Kadri B. Ozutemiz, and Scott E. Hudson. 2019. Input, Output and Construction Methods for Custom Fabrication of Room-Scale Deployable Pneumatic Structures. Proc. ACM Interact. Mob. Wearable Ubiquitous Technol. 3, 1, Article XXX (May 2019), XX pages. DOI: https://doi.org/10.1145/XXXXXX"
authorDescription: Saiganesh Swaminathan, <span class='bold'>Michael L. Rivera</span>, Runchang Kang, Zheng Luo, Kadri B. Ozutemiz, and Scott E. Hudson

---

{% include research/abstract.html abstract=page.abstract %}


<hr class="hr-section-sep" />

{% include research/citation.html
  pageUrl=page.url
  citation=page.citation
  pdfUrl=page.pdfUrl
  doiUrl=page.doiUrl %}

<hr class="hr-section-sep" />

<div class="media-container">
  <h3 class="mb-10"> media and images </h3>
  <div class="media-imgs">

    {% include img/img_row_one.html
      pageUrl=page.url
      img1="canopy_light_to_face_01.png" %}

    {% include img/img_row_two.html
      pageUrl=page.url
      img1="lasercut_pads_02.jpg"
      img2="lasercut_pads_03.jpg" %}

    {% include img/img_row_two.html
      pageUrl=page.url
      img1="printed_frame_02.jpg"
      img2="printed_frame_01a.jpg" %}

    {% include img/img_row_one.html
      pageUrl=page.url
      img1="printed_frame_03.jpg"  %}

    {% include img/img_row_two.html
        pageUrl=page.url
        img1="printed_frame_04.jpg"
        img2="printed_frame_snap_fit_01.jpg" %}

  </div><!-- end media container -->
</div>
