---
layout: project
title: "MaxiFab: Applied Fabrication to Advance Period Technologies"
authors:
  - Joselyn McDonald
  - Siyan Zhao
  - Michael L. Rivera
  - Jen Liu
doiUrl: https://doi.org/10.1145/3197391.3205405
acmUrl: http://dl.acm.org/citation.cfm?id=3205405
pdfUrl: dis18-maxifab.pdf
date: 2018-06-09 00:00
conferenceShortName: DIS 2018
conferenceName: ACM SIGCHI
teaserImageUrl: img/teaser_lasercut_pads_01.jpg
teaserTwitterCardUrl: img/teaser_pads_01_card.png

awards: [
    {
        title: 'Best Provocation Honorable Mention',
        awardType: 'nomination'
    }
]

abstract: >
  MaxiFab is a multifaceted collaborative effort aimed to address current shortcomings of menstrual technologies through digital fabrication techniques. We explore using 3D printing to produce customizable frames for sanitary napkins and laser cutting to fabricate fused washable sanitary napkins. Our preliminary explorations create menstrual products that address some of the most pressing problems with current period technologies—namely, access and cost barriers, waste, and lack of customization. Our work aims to reduce stigma regarding the discussion of menstruation while contextualizing the topic as an under-examined design research space.

citation: maxifabDIS2018
authorDescription: Joselyn McDonald, Siyan Zhao, <span class="bold">Michael L. Rivera</span>, and Jen Liu
---

{% include research/abstract.html abstract=page.abstract %}

{% include img/img_row_two.html
  pageUrl=page.url
  img1="lasercut_pads_deconstructed_01a.jpg"
  img2="printed_frame_deconstructed_01a.jpg"  %}

<hr class="hr-section-sep" />

{% include research/citation.html
  pageUrl=page.url
  citation=page.citation
  pdfUrl=page.pdfUrl
  doiUrl=page.doiUrl %}

<hr class="hr-section-sep" />

<div class="media-container">
  <h3 class="mb-10"> media and images </h3>
  <div class="media-imgs">

    {% include img/img_row_one.html
      pageUrl=page.url
      img1="lasercut_pads_01.jpg" %}

    {% include img/img_row_two.html
      pageUrl=page.url
      img1="lasercut_pads_02.jpg"
      img2="lasercut_pads_03.jpg" %}

    {% include img/img_row_two.html
      pageUrl=page.url
      img1="printed_frame_02.jpg"
      img2="printed_frame_01a.jpg" %}

    {% include img/img_row_one.html
      pageUrl=page.url
      img1="printed_frame_03.jpg"  %}

    {% include img/img_row_two.html
        pageUrl=page.url
        img1="printed_frame_04.jpg"
        img2="printed_frame_snap_fit_01.jpg" %}

  </div><!-- end media container -->
</div>
