---
layout: project
published: true
isPreview: false
title: "OptiStructures: Fabrication of Room-Scale Interactive Structures with Embedded Fiber Bragg Grating Optical Sensors and Displays"
authors:
  - Saiganesh Swaminathan
  - Jonathan Fagert
  - Michael L. Rivera
  - Andrew Cao
  - Gierad Laput
  - Hae Young Noh
  - Scott E. Hudson
doiUrl: https://doi.org/10.1145/3397310
acmUrl: https://dl.acm.org/citation.cfm?doid=3341982.3397310
pdfUrl: imwut20-optistructures.pdf
videoUrl: https://youtu.be/dyWylcIHNKw
youtubeVideoId: dyWylcIHNKw
date: 2020-06-06 00:00
conferenceShortName: IMWUT 2020
conferenceName: ACM IMWUT 2020
teaserImageUrl: img/teaser_assembly_fabrication_01.png
teaserTwitterCardUrl: img/teaser_assembly_fabrication_01_card.png
abstract: >
    A recent topic of considerable interest in the "smart building" community involves building interactive devices using sensors and rapidly creating these objects using new fabrication methods. However, much of this work has been done at what might be called hand scale, with less attention paid to larger objects and structures (at furniture or room scales) despite the fact that we are very often literally surrounded by such objects.
    <br /><br />
    In this work, we present a new set of techniques for creating interactive objects at these scales. We demonstrate the fabrication of both input sensors and displays directly into cast materials—those formed from a liquid or paste which solidifies in a mold; including, for example: concrete, plaster, polymer resins, and composites. Through our novel set of sensing and fabrication techniques, we enable human activity recognition at room-scale and across a variety of materials. Our techniques create objects that appear the same as typical passive objects, but contain internal fiber optics for both input sensing and simple displays.
    <!-- <br /> <br />
    We evaluate the performance of our system by creating two full-scale application prototypes: an interactive wall, and an interactive table. With these prototypes, we demonstrate the ability of our system to sense a variety of human activities across eight different users. Our tests show that with suitable materials these sensors can detect and classify both direct interactions (such as tapping) and more subtle vibrations caused by activities such as walking across the floor nearby. -->

citation: optistructuresIMWUT2020
authorDescription: Saiganesh Swaminathan, Jonathan Fagert, <span class='bold'>Michael L. Rivera</span>, Andrew Cao, Gierad Laput, Hae Young Noh, and Scott E. Hudson

---

{% include research/abstract.html abstract=page.abstract %}


{% if page.youtubeVideoId %}
  <!--hr class="hr-section-sep" /-->
  {% include media/youtube.html youtubeVideoId=page.youtubeVideoId %}
{% endif %}

<hr class="hr-section-sep" />

{% include research/citation.html
  pageUrl=page.url
  citation=page.citation
  pdfUrl=page.pdfUrl
  doiUrl=page.doiUrl %}

<hr class="hr-section-sep" />

<div class="media-container">
  <h3 class="mb-10"> media and images </h3>
  <div class="media-imgs">

    {% include img/img_row_one.html
      pageUrl=page.url
      img1="assembly_fabrication_01.png" %}


  </div><!-- end media container -->
</div>
