---
layout: project
published: true
isPreview: false
title: "StateLens: A Reverse Engineering Solution for Making Existing Dynamic Touchscreens Accessible"
authors:
  - Anhong Guo
  - Junhan Kong
  - Michael L. Rivera
  - Frank F. Xu
  - Jeffrey P. Bigham
doiUrl: http://dx.doi.org/10.1145/3332165.3347873
acmUrl: https://dl.acm.org/citation.cfm?doid=3341982.3328933
pdfUrl: uist19-statelens.pdf
videoUrl: https://youtu.be/Kbw9YbtJdwY
youtubeVideoId: Kbw9YbtJdwY
date: 2019-10-20 00:00
conferenceShortName: UIST 2019
conferenceName: ACM UIST 2019
teaserImageUrl: img/teaser-stylus_01.png
teaserTwitterCardUrl: img/teaser-stylus_01_twitter_card.png
sourceCodeUrl: https://github.com/mriveralee/statelens-3dprints
abstract: >
    Blind people frequently encounter inaccessible dynamic touch­screens in their everyday lives that are difficult, frustrating, and often impossible to use independently. Touchscreens are often the only way to control everything from coffee machines and payment terminals, to subway ticket machines and in-flight en­tertainment systems. Interacting with dynamic touchscreens is difficult non-visually because the visual user interfaces change, interactions often occur over multiple different screens, and it is easy to accidentally trigger interface actions while exploring the screen. To solve these problems, we introduce StateLens — a three-part reverse engineering solution that makes exist­ing dynamic touchscreens accessible.
    <br><br> First, StateLens reverse engineers the underlying state diagrams of existing interfaces using  point-of-view  videos  found  online  or  taken  by  users using a hybrid crowd-computer vision pipeline. Second, using the state diagrams, StateLens automatically generates conver­sational  agents  to  guide  blind  users  through  specifying  the tasks that the interface can perform, allowing the StateLens iOS application to provide interactive guidance and feedback so that blind users can access the interface.
    <br><br> Finally, a set of 3D­ printed accessories enable blind people to explore capacitive touchscreens without the risk of triggering accidental touches on the interface.  Our technical evaluation shows that State-Lens  can  accurately  reconstruct  interfaces  from  stationary, hand-held, and web videos; and, a user study of the complete system demonstrates that StateLens successfully enables blind users to access otherwise inaccessible dynamic touchscreens.

citation: "Anhong Guo, Junhan Kong, Michael Rivera, Frank F. Xu, and Jeffrey P. Bigham 2019. StateLens: A Reverse Engineering Solution for Making Existing Dynamic Touchscreens Accessible. In Proceedings of the 32nd Annual ACM Symposium on User Interface Software and Technology (UIST '19). ACM, New York, NY, USA, ###-###. DOI: https://doi.org/10.1145/3332165.3347873"
authorDescription: Anhong Guo, Junhan Kong, <span class='bold'>Michael L. Rivera</span>, Frank F. Xu, and Jeffrey P. Bigham




---

{% include research/abstract.html abstract=page.abstract %}


{% if page.youtubeVideoId %}
  <!--hr class="hr-section-sep" /-->
  {% include media/youtube.html youtubeVideoId=page.youtubeVideoId %}
{% endif %}

{% include research/source-code.html sourceCodeUrl=page.sourceCodeUrl %}

<hr class="hr-section-sep" />

{% include research/citation.html
  pageUrl=page.url
  citation=page.citation
  pdfUrl=page.pdfUrl
  doiUrl=page.doiUrl %}

<hr class="hr-section-sep" />

<div class="media-container">
  <h3 class="mb-10"> media and images </h3>
  <div class="media-imgs">

    {% include img/img_row_one.html
      pageUrl=page.url
      img1="design-interventions-table.png" %}


  </div><!-- end media container -->
</div>
