---
layout: project
title: "Not Just a Pretty Face: Three-Dimensional Printed Custom Airway Management Devices"
authors:
  - Jorge A. Gálvez
  - Allan F. Simpao
  - Yoav Dori
  - Kevin Gralewski
  - Nicholas H. McGill
  - Michael L. Rivera
  - Nile Delso
  - Hammad Khan
  - Mohamed A. Rehman
  - John E. Fiadjoe
doiUrl: http://online.liebertpub.com/doi/abs/10.1089/3dp.2016.0025
pdfUrl: tracheal-aire-2016.pdf
date: 2016-09-01 00:00
conferenceShortName: 3D Printing and Additive Manufacturing 2017
conferenceName: 3D Printing and Additive Manufacturing
teaserImageUrl: img/teaser_man_01.jpg
teaserTwitterCardUrl: img/teaser_man_01_card.png

images:
abstract:
  The Society for Technology in Anesthesia hosted an engineering challenge to use a 3D printer to create a customized oral airway based on a patient's anatomy. We approached this challenge in two parts. First, we identified a model for an oral airway to base our prototype. We then created a 3D rendering of the customizable oral airway and designed a user interface that would accept specific measurements to create a customized oral airway. We then fabricated a 3D model of the patient's airway and surrounding structures using Mimics (Materialise, Leuven, Belgium).  We describe the process of designing and producing anatomic models for medical device prototype design. Lastly, we propose a methodology of evaluating medical device prototypes using anatomically accurate models manufactured with 3D printers.

citation: "Jorge A. Gálvez, Allan F. Simpao, Yoav Dori, Kevin Gralewski, Nicholas H. McGill, Michael L. Rivera,  Nile Delso, Hammad Khan, Mohamed A. Rehman, and John E. Fiadjoe. 3D Printing and Additive Manufacturing. September 2016, 3(3): 160-165. https://doi.org/10.1089/3dp.2016.0025"

authorDescription: Jorge A. Gálvez, Allan F. Simpao, Yoav Dori, Kevin Gralewski, Nicholas H. McGill, <span class="bold">Michael L. Rivera</span>, Nile Delso, Hammad Khan, Mohamed A. Rehman, and John E. Fiadjoe
---

{% include research/abstract.html abstract=page.abstract %}

{% if page.youtubeVideoId %}
  <!--hr class="hr-section-sep" /-->
  {% include media/youtube.html youtubeVideoId=page.youtubeVideoId %}
{% endif %}

<hr class="hr-section-sep" />

{% include research/citation.html
  pageUrl=page.url
  citation=page.citation
  pdfUrl=page.pdfUrl
  doiUrl=page.doiUrl %}

<hr class="hr-section-sep" />

<div class="media-container">
  <h3 class="mb-10"> media and images </h3>
  <div class="media_container">
    {% include img/img_row_two.html
      pageUrl=page.url
      img1="airway_01.jpg"
      img2="airway_02.jpg"  %}

    {% include img/img_row_one.html
      pageUrl=page.url
      img1="man_01.jpg" %}

    {% include img/img_row_two_one.html
        pageUrl=page.url
        img1="interface_01.jpg"
        img2="man_02.jpg" %}

  </div><!-- end media container -->
</div>
