{% if include.useTitle %}
<h3 style="margin-bottom: 30px;">updates</h3>
{% endif %}
<div class="microupdates">
  <table style="margin-bottom: 0.2em;">
    <tbody>
      {% assign updates = site.data.microupdates.updates | sort: 'date' | reverse %}
      {% for update in updates limit: include.limit %}
        <tr class="post-meta ">
          <td class="data-spacer date"> {{ update.date | date: '%b %-d, %Y' }} </td>
          <td> {{ update.text }} </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if include.showSeeMoreLink %}
  <span class="post-meta">
    <a href="{{site.path_to_updates}}">See all updates</a>
  </span>
  {% endif %}
</div>
