<div class="post-content">
  <h3 style="margin-bottom: 30px;">posts</h3>
  <ul class="post-list">
    <span class=""> More see here soon! </span>
      <!-- {% for item in site.posts %}
        {% if item.published %}
            <li class="col left three" style="padding-left: 0px; margin-bottom:0px;">
              <a class="research-title" href="{{ item.url }}">{{ item.title }}</a> - {{ item.date | date: '%b %-d, %Y' }}
              <p class="research-meta">{{item.shortDescription}} </p>
            </li>
        {% endif %}
      {% endfor %} -->
  </ul>
</div>
