* { 
	margin: 0;
	padding: 0;
	/*background: #084B8A;*/
}

html{
}

html, body { 
	/* width: 100%; */
	/* height: 100%; */
	font-family: Helvetica, sans-serif;
	cursor:default;
}

/*#test{
	position: absolute;
	left: 300px;
	bottom: 200px;
	background-color: white;
	display: block;
	width: 300px;
	height: 300px;
}*/

body.piece1, canvas.piece1 {
  background: #084B8A;
  /*#084B8A;*/
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  background: #084B8A;
}

#main-layer {
	position: absolute;
}

/* time box */
#loader {
	position: absolute;
	font-weight: bold;
	width: 100px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	/*bottom:20px;*/
}

/* time box */
#paused {
	position: absolute;
	font-weight: bold;
	width: 100px;
	background: transparent;
	color: #FFFFFF;
	font-size: 14px;
	text-align:center;
	/*bottom:20px;*/
}

#title {
	position: absolute;
	width: 200px;
	background: transparent;
	text-align: center;
	color: #FFFFFF;
	font-size: 17px;
	font-family: 'Niconne', cursive;
	/*margin-top: -40px;*/
	opacity: 0.0;
	-moz-opacity: 0.0;
	filter:alpha(opacity=0);
	margin-left: -70px;
	margin-top: -0px;
}

#visual-title {
	position: absolute;
	width: 200px;
	background: transparent;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Helvetica, sans-serif;
	/*margin-top: -40px;*/
	opacity: 0.0;
	-moz-opacity: 0.0;
	filter:alpha(opacity=0);
	margin-left: -70px;
	margin-top: 45px;
}



a, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #FFFFFF;
}

a:hover {
	color: #FFFFFF;
}


/* about link box */
#about {
	position: fixed;
	font-weight: bold;
	font-size: 20px;
	/*bottom: 20px;*/
	right: 10px;
	bottom: 0%;
	margin-bottom: 10px;
	color: #FFFFFF;
	z-index: 100001;
	background: transparent;
}

/* Trick For Centering Box With Window Resize Included */
.centered-box{
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
	background: transparent;

}

* html .centered-box{
	position: absolute;
}

.center-align{
	text-align:center;
	display:block;
}


#help-title{
	font-family: Helvetica, sans-serif;
	font-size: 18px;
}

#help-description{
	font-family: Helvetica, sans-serif;
	font-size: 15px;
}

h3{
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color:#F25130;
	text-align:center;
	display:block;
}

#frequency-image{
	text-align:center;

}

#help-dialog{
	color: #444;
}

#help-dialog a:link{color:#007C87; text-decoration:none;}
#help-dialog a:visited{color:#007C87;}
#help-dialog a:active{color: #007C87;}
#help-dialog a:hover{color:#444; text-decoration: underline;}

a:link{text-decoration:none;}

/*
font-family: 'Niconne', cursive;
font-family: 'Rosarivo', serif;
font-family: 'Marck Script', cursive;
*/


