<div class="notice center-block full">
    I am currently on the academic job market. If you have openings, please <a href="mailto:{{site.email}}" title="Email">get in touch</a>.
    <br/>
    <span class="job-links center-block full">
        <a href="{{site.url_for_cv}}" target="_blank" title="Curriculum Vitae">Curriculum Vitae</a>
        <span class="separator"> / </span>
        <a href="{{site.job_materials.url_for_research_statement}}" target="_blank" title="Research Statement">Research Statement</a>
        <!-- <span class="separator"> / </span>
        <a href="{{site.job_materials.url_for_teaching_statement}}" target="_blank" title="Teaching Statement">Teaching Statement</a-->
        <span class="separator"> / </span>
        <a href="{{site.job_materials.url_for_diversity_statement}}" target="_blank" title="Diversity, Equity, and Inclusion Statement">Diversity, Equity, and Inclusion Statement</a>
    </span>
</div>
