<div class="col center-block full notice-wrapper">
    <div class="col notice center">
        <div class="col text-align-center">
            <span class="bold" style="display: inline-block;">
                📢
                <em>
                    I am recruiting PhD students to join the Utility Research Lab!
                </em>

            </span>
            <br>
            <span style="display: inline-block;">
                More information about applying can be found <a class="bold" href="https://utilityresearchlab.org/opportunities" target="_blank">here</a>.
            </span>
        </div>

    </div>
</div>
