<div class="col center-block full notice-wrapper">
    <div class="col notice center">
        <div class="col text-align-center">
            <span class="bold" style="display: inline-block;">
                🚨
                <em>
                    I am recruiting students (Ph.D., Master's, Undergraduates) to join the <a class="bold" href="https://utilityresearchlab.org/" target="_blank">Utility Research Lab</a>!
                </em>
                🚨
            </span>
            <br>
            <span style="display: inline-block;">
                For more information, see <a href="https://utilityresearchlab.org/contact" target="_blank">this page</a> on the lab website.
            </span>
        </div>

    </div>
</div>
