<div class="citation-wrapper">
  <a class="section-anchor" id="citation"></a>
  <h3 class="mb-10">citation</h3>
    <pre class="citation">{{ include.citation }}</pre>
    {% assign hasPrevLink = false %}
    <div class="citation-meta">
      <span class="three">
        {% if include.pdfUrl %}
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i> <a class="" target="_blank" href="{{site.assetsDir | append: include.pageUrl | append: include.pdfUrl }}">Download Paper</a>
          {% assign hasPrevLink = true %}
        {% endif %}
        {% if include.doiUrl %}
            {% if hasPrevLink %}
              <span class="research-meta-separator">{{ site.linkSeparator }}</span>
            {% endif %}
            <i class="fa fa-external-link" aria-hidden="true"></i>  <a class="" target="_blank" href="{{ include.doiUrl }}">DOI</a>
        {% assign hasPrevLink = true %}
        {% endif %}
      </span>
    </div>
</div>
