<div class="post">
  <a class="section-anchor" id="research-section"></a>
  <header class="post-header">
    <h2 class="post-title mb-10">research</h2>
    <h4 class="post-description"> My published and award-winning work exploring novel digital fabrication techniques, sensing systems, and adaptive/assistive technologies. </h4>
  </header>

  <article class="post-content">
    <ul class="post-list">
      {% assign researchProjects = site.research | sort: 'date' | reverse %}
      {% for item in researchProjects %}
        {% include research/research-item.html item=item %}
        <a href="#research"> </a>
        {% endfor %}
        </ul>
    </article>

</div>
