<div class="post">
  <a class="section-anchor" id="research-section"></a>
  <header class="post-header">
    <h2 class="post-title mb-10">research</h2>
    <h4 class="post-description ">My published and award-winning work exploring novel fabrication techniques, computational fabrication, and sensing systems. </h4>
  </header>

  <article class="post-content">
    <ul class="post-list">
      {% assign researchProjects = site.research | sort: 'date' | reverse %}
      {% for item in researchProjects %}
        <li class="col three" style="padding-left: 0px; padding-right: 0px; margin-bottom:0px;">
            {% if item.published and item.isPreview == false %}
                {% assign projectLink = item.url  %}
            {% elsif item.published && item.isPreview %}
                {% assign projectLink = "#research"  %}
            {% else %}
                <!-- probably need to make a project publishing type to use this -->
                {% assign projectLink = site.assetsDir | append: item.url | append: item.pdfUrl %}
            {% endif %}
            <div class="research-primary-img-container col right one" style="padding-right: 0px;">
              <a href="{{projectLink}}">
                <img class="three" src="{{site.assetsDir | append: item.url | append: item.teaserImageUrl }} ">
              </a>
            </div>
            <div class="research-primary-content-container col left two" style="padding-left: 0px;">

            <a class="research-title" href="{{ projectLink }}">{{ item.title }}</a>
            <p class="research-meta">{{item.authorDescription}}. <span style="font-style:italic;">{{item.conferenceShortName}}</span>.</p>

            <p class="research-meta">
                {% if item.isPreview == false %}
                  <span>
                  {% assign hasPrevLink = false %}
                  {% if hasPrevLink %}
                   <span class="research-meta-separator">{{ site.linkSeparator }}</span>
                  {% endif %}
                    {% if item.pdfUrl %}
                      <a class="research-meta-link" target="_blank" href="{{site.assetsDir | append: item.url | append: item.pdfUrl }}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Paper</a>
                      {% assign hasPrevLink = true %}
                    {% endif %}

                    {% if item.videoUrl %}
                      {% if hasPrevLink %}
                       <span class="research-meta-separator">{{ site.linkSeparator }}</span>
                      {% endif %}
                        <a class="research-meta-link" target="_blank" href="{{ item.videoUrl }}"><i class="fa fa-film" aria-hidden="true"></i> Video</a>
                      {% assign hasPrevLink = true %}
                    {% endif %}
                  </span>
                {% else %}
                    Coming soon!
                {% endif %}
            </p>
            {% if item.awards %}
            <p class="research-meta research-meta-awards">
                    {% for award in item.awards %}
                        {% assign awardTitle = award.title %}
                        {% assign awardType = award.awardType %}
                        {% if awardType == "award" %}
                            <i class="research-award-icon fa fa-trophy"></i>
                        {% else if awareType == "nomination" %}
                            <i class="fa fa-star"></i>
                        {% endif %}
                        {{ awardTitle }}
                    {% endfor %}
            </p>
            {% endif %}
            </div>

            <div class="col clearfix three" style="margin-bottom: 5px; margin-top:10px;">
                <hr style="width:60%; margin: 0px auto;"/>
            </div>

        </li>
        <a href="#research"> </a>
        {% endfor %}
        </ul>
    </article>

</div>
