---
layout: project
title: "cMusic: A Visualization of Bach's Prelude in C Major"
shortDescription: A web application that visualizes musical notes present in one of Bach's famous Preludes.
abstract: >
    As part of Information Design (FNAR 337) at the University of Pennsylvania, I designed cMusic to visualize the dynamics of a musical piece while revealing relationships among individual notes.
    Changes in the speed, size, and color of circles attempt to explain the intricacies of J.S. Bach's Prelude in C Major, while still maintaining the piece's underlying musical structure.

teaserImageUrl: img/teaser_cmusic_01.png
teaserTwitterCardUrl: img/teaser_cmusic_01_card.png
date: 2012-04-12 00:00:00
---

{% include research/abstract.html abstract=page.abstract %}

{% include media/youtube.html youtubeVideoId="Dbwh7MQfag8" %}
