---
layout: project
title: "Midigen: Algorithmic Music Composer"
shortDescription: An application that algorithmically creates multi-instrument music and visuals in real-time.
abstract: >
  As part of a Computer Music Systems and Info Processing course at Carnegie
  Mellon University, I made an application called Midigen that algorithmically
  creates multi-instrument music and visuals for it. The application also offers
  interactive controls for tempo, pitch bend, and sound synthesis through
  TouchOSC on Android.

teaserImageUrl: img/teaser_mg_01.png
date: 2018-02-14 00:00:00
---

{% include research/abstract.html abstract=page.abstract %}

{% include media/youtube.html youtubeVideoId="sEN_9MTaKeo" %}

<hr class="hr-section-sep" style="margin-top:30px; margin-bottom:30px;" />

{% include media/youtube.html youtubeVideoId="loeRFF7G64o" %}
